<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
 <plist version="1.0">
 <dict>
 <key>Label</key>
 <string>com.order.dinner.launchctl.plist</string>
 <key>ProgramArguments</key>
 <array>
 <string>/Users/purejade/订餐助手/88888888.sh</string>
 </array>
 <key>StartCalendarInterval</key>
 <dict>
 <key>Minute</key>
 <integer>52</integer>
 <key>Hour</key>
 <integer>
14</integer>
 </dict>
 <key>StandardOutPath</key>
 <string>/Users/purejade/订餐助手/order_dinner.log</string>
 <key>StandardErrorPath</key>
 <string>/Users/purejade/订餐助手/order_dinner.err</string>
 </dict>
 </plist>
